body{
  background: lightgrey;
}
#one{
  font-size: 35px;
  background:lightblue;
}

*{
  font-family: Arial, Helvetica, sans-serif;
}
.box{
  float: left;
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}


nav{
  height: 330px;
  width: 220px;
  background: plum;
  font-size: 30px;
  text-align: center;
}

#two{
  font-size: 20px;
  text-align: left;
}

article{
  height: 330px;
  width: 250px;
  background-color: yellowgreen;
  text-align: center;
  font-size: 30px;
}

#three{
font-size: 20px;
text-align: left;
}

.arts{
  margin: auto;
  width: 75%;
  font-size: 15px;
  background-color: plum;
  text-align: center;
}

#footone{
  font-size: 20px;
  text-align: left;
}

aside{
  height: 330px;
  width: 210px;
  background-color: lightcoral;
  text-align: center;
  font-size: 30px;
}

.article{
  margin: auto;
  font-size: 15px;
  background: plum;
  width: 80%;
}

#footmain{
  clear: both;
  margin-top: auto;
  background: lightblue
}
